body{
    background-color: rgb(29, 28, 37);
    color: white;
}

tr{
    border: solid 1px white;
}

td{
    border: solid 1px white;
}

.table{
    margin: 0 10px;
}

.vertical-box{

}

.number-list{
    display: flex;
}

.number-list-element{
    margin: auto;
    background-color: rgb(55, 55, 93);
    border-radius: 50%;
}